prefix = "cnctest1"
vnet_subnetid =[" "]  # subnetid from the global output
rg_location = "westeurope"     # location of the resource group to be created default is West europe
rg_name = "tfresourcegroup"     # name of the azure resource group
storage_firewall_ip_rules=["0.0.0.0/0"]         # Add the IP's based on your requirement .